.navbarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f0f0f;
    color: #f0f0f0;
    padding: 1rem 2rem;
}
.logoContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.LoginLogoutContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.popoverButton {
    color: #f0f0f0;
}
.popoverTrigger {
    border-bottom: 1px solid #0f0f0f;
}
.popoverTrigger:hover {
    border-bottom: 1px solid #f0f0f0;
}
.popoverContent {
}
.popoverContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.popoverInput {
}

.LoginContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
}

.buttonSingup {
    background-color: #0f0f0f;
    cursor: pointer;
}
.buttonSingup:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
