/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/Navbar.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.Navbar_navbarContainer__WLqsU {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: #0f0f0f;
    color: #f0f0f0;
    padding: 1rem 2rem;
}
.Navbar_logoContainer__ycKBy {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.Navbar_LoginContainer__cUbJL {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
}

.Navbar_buttonSingup__Lrmkw {
    background-color: #0f0f0f;
    cursor: pointer;
}
.Navbar_buttonSingup__Lrmkw:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

